## Task 1

In [75]:
import numpy as np
import pandas as pd
from datetime import date

In [6]:
authors = pd.DataFrame({'author_id': [1, 2, 3], 'author_name': ['Тургенев', 'Чехов', 'Островский']})

In [11]:
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3], 
    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
    'book_price': [450, 300, 350, 500, 450, 370, 290]
})

## Task 2

In [14]:
author_prices = pd.merge(authors, books, on='author_id', how='inner')

## Task 3

In [27]:
top5 = author_prices.sort_values(by=['book_price'], ascending=False)[0:5][['book_title', 'book_price']]

## Task 4

In [63]:
a1 = author_prices.groupby(['author_id']).max().rename(index=str, columns={'book_price': 'max'})
a2 = author_prices.groupby(['author_id']).min().rename(index=str, columns={'book_price': 'min'})
a3 = author_prices.groupby(['author_id']).mean().rename(index=str, columns={'book_price': 'mean'})
pd.concat([a1['author_name'], a1['max'], a2['min'], a3['mean']], axis=1)

          author_name  max  min        mean
author_id
1            Тургенев  450  300  366.666667
2               Чехов  500  450  475.000000
3          Островский  370  290  330.000000

## Task 5

In [79]:
extended_author_prices = pd.concat([author_prices, pd.DataFrame({'cover': ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']})], axis=1)

In [89]:
book_info = pd.pivot_table(
    extended_author_prices,
    values=['book_price'],
    index=['author_name'], 
    columns=['cover'],
    aggfunc=np.max,
    fill_value=0
)

In [92]:
book_info.to_pickle('book_info.pkl')

In [93]:
pd.read_pickle('book_info.pkl') == book_info

            book_price
cover           мягкая твердая
author_name
Островский        True    True
Тургенев          True    True
Чехов             True    True